fastapi==0.110.0
uvicorn==0.27.1

# SQLAlchemy ORM / Core
sqlalchemy==2.0.25

# PostgreSQL driver
psycopg2-binary==2.9.9

# Pydantic for request/response models
pydantic==2.5.3
pydantic-settings==2.0.3

# CORS, if needed in the future
starlette==0.36.3

email-validator==2.1.0.post1

requests==2.31.0



